.talk-bubble {
  display: inline-block;
  position: relative;
	height: auto;
  color: black;
  text-shadow: none;
  padding: 30px;
	background-color: white;
  margin-top: 20px;
  width: 90%;
}
.round{
  border-radius: 30px;
}

.tri-right.left-top:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 60px;
  transform: rotate(90deg);
	bottom: auto;
	border: 22px solid;
	border-color: white transparent transparent transparent;
}

.advisorCat {
  max-width: 250px;
  background-color: white;
  border-radius: 115px;
}

.achievement-item-box {
  background-color: #626261;
  padding:20px 35px 20px 35px;
  border-radius: 20px;
  overflow:hidden;
  transition: 0.3s;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.achievement-item-box:hover {
  transform: scale(1.01);
  transition: 0.3s;
}

.achievement-icon {
  background-color: #3c3c3c;
  padding: 20px;
  border-radius: 30px;
  float: right;
}

.achievement-text {
  float: left;
}

.unlocked-item {
  background-color: #00a429;
}

.unlock-icon {
  background-color: #55de00;
}
