.centered {
  text-align: center;
}

.img-responsive {
  width: 100%;
}

.game-over {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-20 {
  margin-top: 20px;
}

.player-wallet,
.player-level,
.player-electricity,
.player-coins,
.player-assets {
  padding: 15px 15px 15px 35px;
  border-radius: 50px;
  font-size: 22px;
  margin-top: 20px;
}

.player-wallet {
  background-color: #00c253;
}

.player-level {
  background-color: #13a8b1;
}

.player-electricity {
  background-color: #c24549;
  border-radius: 50px;
}

.player-coins  {
  background-color: #55d52f;
}

.player-assets {
  background-color: #4bc9b4;
}
