.flying-click {
  width: 50px;
  height: 50px;
  background: yellow;
  position: absolute;
  z-index: 10;
  border-radius: 100%;
  user-select: none;
}

.flying-click {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    top: 10px;
  }
}
