.modal-close-button{
  position: absolute;
  top: 0;
  right: 0;
}

.computershoplogo {
  position: absolute;
   top: 0;
   margin-top: 30px;
   left: 20;
}

.shop-grid {
  margin-top: 40px;
}

.shop-item-icon-pc {
  max-width: 100px;
}

.shop-item-icon-gpu1 {
  max-width: 250px;
}

.shop-item-icon-gpu2 {
  max-width: 330px;
}

.shop-item {
  font-size: 1.4em;


/*Gradient makes the modal super slow*/
/*  background:
  radial-gradient(circle farthest-side at 0% 50%,#2b3f74 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#20305b 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#2b3f74 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#2b3f74 0)0 0,
  linear-gradient(150deg,#2b3f74 24%,#20305b 0,#20305b 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#20305b 0,#20305b 76%,#2b3f74 0)0 0,
  linear-gradient(30deg,#2b3f74 24%,#20305b 0,#20305b 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#20305b 0,#20305b 76%,#2b3f74 0)0 0,
  linear-gradient(90deg,#20305b 2%,#2b3f74 0,#2b3f74 98%,#20305b 0%)0 0 #2b3f74;
*/

  background: #20305b;
  background-size:40px 60px;

  border-radius: 200px;
  padding: 20px;
  min-height: 400px;
  margin-top: 20px;
  transition: 0.3s;
}

.shop-item:hover {
   transition: 0.3s;
   transform: scale(1.02);
}

.buy-item-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.buy-item-button:hover {
  background-color: #3b883e;
  cursor: pointer;
}
