.string-animation {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: #ffffff;
  font-size: 12px;
  color: rgb(0, 187, 30);
  padding: 40px;
  background-image: url(/svg_assets/computer_screen.png);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 20px;
}
.string-animation .content {
  word-wrap: break-word;
  overflow: hidden;
  height: 155px;
  width: 300px;
}
